<div class="container py-5" style="max-width: 600px; padding-top: 4em;">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555656220-46e30749d330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80)">
    <h3><strong>Create your art service</strong></h3>
  </div>
  <div class="list py-3">
    <%= simple_form_for @art_service do |a| %>
     <div class="row">
      <div class="col-sm">
        <%= a.input :category %>
      </div>
      <div class="col-sm">
        <%= a.input :price %>
      </div>
    </div>
        <%= a.input :title %>
        <%= a.input :description %>
        <%= a.input :address %>
        <%= a.input :photos, as: :file, input_html: { multiple: true } %>
        <%= a.hidden_field :user_id, :value => 2 %> <!-- current_user.id -->
        <%= a.submit "Save & upload", class: 'btn btn-dark float-right' %>
      <% end %>
  </div>
</div>
