<div class="container">
  <h3><%= @art_service.title.upcase %></h3>
  <ul class="service-show-top-info">
    <li>
      <div class="li-item">
        <i class="fa fa-star" aria-hidden="true"></i><p><strong><%= @average.to_i %></strong> (<%= @art_service.reviews.length %>)</p>
      </div>
    </li>
    <li>
      <div class="li-item">
        <i class="fa fa-map-marker" aria-hidden="true"></i><p>City, Country</p>
      </div>
    </li>
    <li>
      <div class="li-item">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Hosted by <strong><%= @art_service.user.first_name %></strong></p>
      </div>
    </li>
  </ul>
  <br>
  <% if @art_service.photos.attached? %>
    <div class="gallery-box">
      <div class="service-gallery">
        <% @art_service.photos.each do |photo| %>
          <div class="gallery-item" style="background-image: url('<%= cl_image_path photo.key%>')"></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="info box">
    <div class="info-item col-8">
      <h4>Description</h4>
      <div class="description">
        <p><%= @art_service.description %></p>
      </div>
    </div>

    <div class="info-item col-4 flex-column booking-box">
      <%= link_to "Book now", new_art_service_booking_path(@art_service), class: 'btn btn-primary' %>
      <br>
      <%= link_to 'Edit', edit_art_service_path(@art_service), class: 'btn btn-primary'%>
       <br>
      <%= link_to "Delete #{@art_service.title}", art_service_path(@art_service), method: :delete, data: { confirm: "Are your sure?"}, class: 'btn btn-primary' %>
      <br>
      <%= link_to "Back to all art services", art_services_path, class: 'btn btn-primary' %>
    </div>
  </div>



  <h4>Location</h4>
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="about">
    <h4>About <%= @art_service.user.first_name %></h4>
    <p><%= @art_service.user.about %></p>
    <div class="info-box">
      <div class="info-element">
        <p><i class="fa fa-archive" aria-hidden="true"></i><%= @art_service.category%></p>
      </div>
      <div class="info-element">
        <a href="#" class="btn btn-primary">Contact artist</a>
      </div>
    </div>
  </div>

  <%= link_to "Write a Review", new_art_service_review_path(@art_service), class: "btn btn-primary" %>

  <div class="row justify-content-center">
    <ul id="list-group">
      <% @art_service.reviews.each do |review| %>
        <li id="list-group-item">
          <div class="card-review">
            <div class="item">

              <div class="stars">
                <% review.rating.times do %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
                <p>by <strong><%= review.user.first_name %></strong></p>
              </div>

              <div class="delete-button">
                <% if current_user != nil %>
                  <% if current_user.id == review.user.id || current_user.id == @art_service.user.id %>
                    <%= link_to "Delete this review", art_service_review_path( @art_service, review.id ), method: :delete, class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>

            </div>

            <p><%= review.comment %></p>
          </div>
        </li>
      <% end %>
    </ul>

  </div>

</div>
