<div class="container">

  <div id="back">
    <i class="fas fa-long-arrow-alt-left"></i><%= link_to "  Back to all art services", art_services_path %>
  </div>

  <h3><%= @art_service.title.upcase %></h3>
  <ul class="service-show-top-info">
    <li>
      <div class="li-item">
        <i class="fa fa-star" aria-hidden="true"></i><p><strong><%= @average.to_i %></strong> (<%= @art_service.reviews.length %>)</p>
      </div>
    </li>
    <li>
      <div class="li-item">
        <i class="fa fa-archive" aria-hidden="true"></i><p> <%= @art_service.category.downcase%></p>
      </div>
    </li>
    <li>
      <div class="li-item">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Hosted by <strong><%= @art_service.user.first_name %></strong></p>
      </div>
    </li>
  </ul>

  <% if @art_service.photos.attached? %>
    <div class="gallery-box">
      <div class="service-gallery">
        <% @art_service.photos.each do |photo| %>
          <%# <div class="gallery-item" style="background-image: url('<%= cl_image_path photo.key%>
          <div class="gallery-item">
            <%= cl_image_tag photo.key, class: 'gallery-image'%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="info">

    <div class="info-item col-8">
      <h4>Description</h4>
      <div class="description">
        <p><%= @art_service.description %></p>
      </div>
    </div>

    <div class="info-item col-4 booking-box">
      <% if current_user != nil %>

        <% if current_user.id == @art_service.user.id %>
          <%= link_to 'Edit', edit_art_service_path(@art_service), class: 'btn btn-dark'%>
          <%= link_to "Delete #{@art_service.title}", art_service_path(@art_service), method: :delete, data: { confirm: "Are your sure?"}, class: 'btn btn-danger' %>
        <% else %>
          <div class="booking-form">
            <%= simple_form_for [ @art_service, @booking ] do |a| %>
              <div class="input-box">
                <div class="input-field">
                  <%= a.input :start_time, as: :date, label: "From:"%>
                </div>
                <div class="input-field">
                  <%= a.input :end_time, as: :date, label: "Until:" %>
                </div>
              </div>
              <%= a.hidden_field current_user.id, :value => 2 %> <!-- current_user.id -->
              <p>Total cost: <%= @art_service.price %>€</p>
              <%= a.button :submit, class: 'btn btn-dark float-right' %>
            <% end %>
          </div>

        <% end %>

      <%else%>
        <%= link_to "Log in to book this service", new_user_session_path, class: 'btn btn-success' %>
      <% end %>
    </div>

  </div>



  <h4>Location</h4>
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="about">
    <h4>About <%= @art_service.user.first_name %></h4>
    <p><%= @art_service.user.about %></p>
    <div class="about-box">
      <a href="#" class="btn btn-dark">Contact artist</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to "Write a Review", new_art_service_review_path(@art_service), class: "btn btn-dark" %>
    <ul id="list-group">
      <% @art_service.reviews.each do |review| %>
        <li id="list-group-item">
          <div class="card-review">
            <div class="item">

              <div class="stars">
                <% review.rating.times do %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
                <p>by <strong><%= review.user.first_name %></strong></p>
              </div>

              <div class="delete-button">
                <% if current_user != nil %>
                  <% if current_user.id == review.user.id || current_user.id == @art_service.user.id %>
                    <%= link_to "Delete this review", art_service_review_path( @art_service, review.id ), method: :delete, class: 'btn btn-danger' %>
                  <% end %>
                <% end %>
              </div>

            </div>

            <p><%= review.comment %></p>
          </div>
        </li>
      <% end %>
    </ul>

  </div>

</div>
