<div class="container py-5" style="max-width: 800px; padding-top: 4em;">

  <div class="card-category">
    <h1><strong>Hi <%= @user.first_name %>👋</strong></h1>
  </div>

  <div>
    <p>Make sure to add some information about yourself and add a pretty picture to your profile.😊</p>
  </div>

  <div class="list py-3">
    <%= simple_form_for @user, url: profile_path(@user) do |a| %>
      <%= a.input :about %>
      <%= a.input :photo, as: :file %>
      <%= a.submit "Save & Upload", class: 'btn btn-dark float-left' %>
      <% end %>
  </div>
  <br>
  <div class="abc my-5">
    <h3 class="text-center"><strong>My art services 🎨</strong></h3>
    <div class="cards_all d-flex justify-content-center mt-3">
      <% @user.art_services.each do |art_service| %>
        <div class="card m-2" style="width: 16rem;">
          <div class="card-body">
            <h5 class="card-title"><%= art_service.title %></h5>
            <p class="card-text">Price: <em><%= art_service.price %>€</p></em>
            <%= link_to 'Edit', edit_art_service_path(art_service) %>
            <%= link_to 'Show', art_service_path(art_service), class: 'float-right'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>








<div class="container" style="max-width: 800px; padding-top: 4em;">
  <div class="row">

      <div class="col-6">
        <div class="title">
          <strong><h4 class="text-center mb-3">Awesome, you have <br><%= @bookings.count %> booking requests 🎊</h4></strong>
        </div>

        <% @bookings.each do |booking| %>
        <% if booking.user != current_user %>
          <div class="card m-3">
            <div class="card-body">
              <div class="card-text">
                <p><strong>Request by </strong><em><%= booking.user.first_name %></em> for <em><%= booking.art_service.title %></em></p>
                <p><strong>When:</strong> <%= booking.start_time %></p>
                <p><strong>Where:</strong> <%= booking.art_service.address %></p>
                <p><strong>Revenue: </strong>€<%= booking.art_service.price %></p>
                  <% if booking.status == "confirmed" %>
                    <span><strong>Status: </strong> <span style="color: green"><%= booking.status %></span></span>
                  <% elsif booking.status == "pending" %>
                    <span><strong>Status: </strong></span><span style="color: blue"><%= booking.status %></span>
                    <div class="text-right">
                      <%= link_to "Decline", class: 'card-link' %>
                      <%= link_to "Accept", class: "btn btn-flat" %>
                    </div>
                  <% else %>
                    <span><strong>Status: </strong></span><span style="color: red"><%= booking.status %></span>
                  <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>


      <div class="col-6">
      <div class="title">
        <strong><h4 class="text-center mb-3">Are you ready? You made <br><%= @bookings.count %> booking requests</h4></strong>
      </div>
      <% @bookings.each do |booking| %>
        <% if booking.user == current_user %>
         <div class="card m-3">
            <div class="card-body">
              <div class="card-text">
                <p><strong>Request by </strong><em>me</em> for <em><%= booking.art_service.title %></em></p>
                <p><strong>When:</strong> <%= booking.start_time %></p>
                <p><strong>Where:</strong> <%= booking.art_service.address %></p>
                <p><strong>Revenue: </strong>€<%= booking.art_service.price %></p>
                  <% if booking.status == "confirmed" %>
                    <span><strong>Status: </strong> <span style="color: green"><%= booking.status %></span></span>
                  <% elsif booking.status == "pending" %>
                    <span><strong>Status: </strong></span><span style="color: blue"><%= booking.status %></span>
                  <% else %>
                    <span><strong>Status: </strong></span><span style="color: red"><%= booking.status %></span>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
