<div class="container" style="max-width: 800px; padding-top: 4em;">
  <div class="row">

      <div class="col-6">
        <div class="title">
          <strong><h4 class="text-center mb-3">Awesome, you have <br><%= @bookings.count %> booking requests 🎊</h4></strong>
        </div>

        <% @bookings.each do |booking| %>
          <div class="card m-3">
            <div class="card-body">
              <div class="card-text">
                <p><strong>Request by </strong><em><%= booking.user.first_name %></em> for <em><%= booking.art_service.title %></em></p>
                <p><strong>When:</strong> <%= booking.start_time %></p>
                <p><strong>Where:</strong> <%= booking.art_service.address %></p>
                <p><strong>Revenue: </strong>€<%= booking.art_service.price %></p>
                  <% if booking.status == "confirmed" %>
                    <span><strong>Status: </strong> <span style="color: green"><%= booking.status %></span></span>
                  <% elsif booking.status == "pending" %>
                    <span><strong>Status: </strong></span><span style="color: blue"><%= booking.status %></span>
                    <div class="text-right">
                      <%= link_to "Decline", class: 'card-link' %>
                      <%= link_to "Accept", class: "btn btn-flat" %>
                    </div>
                  <% else %>
                    <span><strong>Status: </strong></span><span style="color: red"><%= booking.status %></span>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>


      <div class="col-6">
      <div class="title">
        <strong><h4 class="text-center mb-3">My booking requests</h4></strong>
      </div>
    </div>

  </div>
</div>
