<div id="home">
  <%# Banner & Search Form %>
  <div class="banner">
    <div class="container">

      <div class="search-form-control">
        <%= form_tag art_services_path, method: 'get' do  %>
        <%= params[:query] %>
        <%# <input class="form-control string required" type="text" name="search[query]" placeholder="Search for art services" id="search_query" /> %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control search-term",
            placeholder: "Search for an art service"
            %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Main container. %>
  <div class="container py-5">
    <%# Explore Nearby Cards %>
    <div class="text-left">
      <h3>Our mission ✨</h3>
      <br>
      <p>friendly is a global community, welcoming people from every discipline and culture who seeks to connect with others.
        We believe passionately in the power of creativity to change attitudes, lives and, ultimately, the world.
        At friendly, we're building a clearinghouse of art services from the world's most inspired artists —
        and a community of curious souls to engage with each other, both online and offline around the world,
        all year long.</p>

    </div>



    <%# End of the page box items %>
    <div class="text-left"><h4>Are you an aspiring artist?</h4></div>
      <div class="call-to-action-box">
        <div class="box-item m-3">
          <div class="text-field">
            <p>Don’t waste your talent. Instead show it to the world and earn some extra income. It’s so easy. Sign up and join our community of talents.</p>
          </div>
          <%= link_to "Learn more", new_user_registration_path, class: 'btn btn-flat' %>
        </div>
        <div class="box-item">
          <img src="https://images.unsplash.com/photo-1609189184127-04652523de91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="artist-painter-painting">
        </div>
      </div>
  </div>

  <%# Page's Footer  %>
  <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> at Le Wagon by friendly team.
        </div>
  </div>
</div>
