<div class="container py-5" style="max-width: 800px; padding-top: 4em;">

  <div class="card-category">
    <h1><strong>Hi <%= @user.first_name %>👋</strong></h1>
  </div>

  <div>
    <p>Make sure to add some information about yourself and add a pretty picture to your profile.😊</p>
  </div>

  <div class="list py-3">
    <%= simple_form_for @user, url: profile_path(@user) do |a| %>
      <%= a.input :about %>
      <%= a.input :photo, as: :file %>
      <%= a.submit "Save & Upload", class: 'btn btn-dark float-left' %>
      <% end %>
  </div>
  <br>
  <div class="abc my-5">
    <h3 class="text-center"><strong>My art services 🎨</strong></h3>
    <div class="cards_all d-flex justify-content-center mt-3">
      <% @user.art_services.each do |art_service| %>
        <div class="card m-2" style="width: 16rem;">
          <div class="card-body">
            <h5 class="card-title"><%= art_service.title %></h5>
            <p class="card-text">Price: <em><%= art_service.price %>€</p></em>
            <%= link_to 'Edit', edit_art_service_path(art_service) %>
            <%= link_to 'Show', art_service_path(art_service), class: 'float-right'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
